.preloader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 282px;
}

.preloader__spinner {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #1a1b22 0deg,
    rgba(209, 210, 214, 0) 360deg
  );

  animation: spin 1s linear infinite;
  position: relative;
}

.preloader__spinner::after {
  content: "";
  position: absolute;
  inset: 1px;
  background: #fff;
  border-radius: 50%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
