.saved-news {
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
}

.saved-news__header {
  width: 100%;
  max-width: 1232px;

  margin: 0 auto;
  padding: 40px 0 50px;

  box-sizing: border-box;
}

.saved-news__label {
  margin: 0 0 28px;

  color: #1a1b2280;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.saved-news__title {
  max-width: 530px;

  margin: 0 0 30px;

  color: #1a1b22;

  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.saved-news__keywords {
  margin: 0;

  color: #1a1b22;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.saved-news__keywords-list {
  font-weight: 700;
}

.saved-news__empty {
  margin: 40px auto;
  text-align: center;

  color: #1a1b22;
}

@media screen and (max-width: 1300px) {
  .saved-news__header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (max-width: 768px) {
  .saved-news__header {
    padding: 24px 16px 40px;
  }

  .saved-news__label {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 24px;
  }

  .saved-news__title {
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 34px;
  }

  .saved-news__keywords {
    font-size: 16px;
    line-height: 24px;
  }
}
